<section class="schedule">
    <div class="block position-relative overflow-hidden">
        <div class="section__text-background text-color02 text-center text-background__center">
            Programar cita
        </div>
        <div class="text-center">
            <h2 class="h-lg">
                Programe <span class="color">su cita</span> hoy
            </h2>
            <p class="info">
                <!-- Especialistas en servicio de reparación y mantenimiento -->
                {{ text }}
            </p>
            <h2 class="h-phone">+(502) {{ phone }}</h2>
            <div class="btn-inline">
              <!--   <button class="btn btn-border" href="#" data-toggle="modal" data-target="#appointmentForm">
                    <span>Hacer cita</span></button>
             -->
            <a 
            href="https://api.whatsapp.com/send?phone=502{{ phone }}" 
            target="_blank" rel="noopener noreferrer"
            class="btn btn-border"
            ><span>Hacer cita</span></a></div>
        </div>
    </div>
</section>