@import "../../../../../assets/variables.scss";

.myContainer {
  min-height: 80vh;
}

.repuestos {
  display: grid;
  grid-template-columns: 20em 1fr;
  grid-template-rows: 1 auto;
  grid-template-areas: "sidebar content";

  .sidebar {
    grid-area: sidebar;

    // border: 1px solid red;
    padding-top: 1em;
  }

  .content {
    grid-area: content;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-template-areas: "section_1 section_2";

    // border: 1px solid green;
    // text-align: center;
    padding: 0.5em;
  }
}
