<app-header></app-header>

<div class="myContainer">
    <div class="repuestos">
        <div class="sidebar">
            <p>Repuestos</p>
        </div>

        <div class="content">
            <div class="grid-repuestos">
                <ng-container *ngIf="(repuestos$ | async) as productos">

                
                <div class="card pointer" *ngFor="let menu of productos" (click)="repuestoSubcategoria(menu.id)">
                    <img [src]="menu.imagen" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">{{ menu.categoria }}</h5>
                    </div>
                </div></ng-container>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>