.aliados {
  padding: 3em 0;
  .aliados__title {
    text-align: center;
    h3 {
      margin: 0 0 15px;
      font-weight: 700;
      line-height: 1.4em;
      text-transform: uppercase;
    }
  }

  .aliados__banner {
    .card {
      width: 250px;
      .card-body {
        img {
          width: 100%;
          vertical-align: top;
        }
      }
    }
  }
}
