<app-header></app-header>

<div class="myContainer">
    <div class="gps">
        <div class="sidebar">
            <p>GPS</p>
        </div>

        <div class="content">
            <div class="image-gps">
                <!-- <img src="assets/images/gps/transportes-gps.png" alt=""> -->
            </div>

            <div class="detail-gps">
                <!-- <h3>Detalle</h3> -->
                <p>Gracias por utilizar los servicios de pacifico express al hacer click en el siguiente link  ingresa tu usuario y contraseña proporcionado por el equipo de logística para dar seguimiento a la ubicación de la carga.</p>
                <a href="https://gps.undercontrol.co/accounts/" target="_blank" class="btn-cotizar">Ver GPS</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>