<div class="container">
    <div class="cotizador">
        <div class="sidebar">
            <p>Cotizador de Vehículos</p>
        </div>

        <div class="content">
            <div class="form">
                <form>
                    <div class="input-field">
                        <label>Tipo de producto</label>
                        <input type="text" placeholder="producto" class="input" />
                    </div>

                    <div class="input-field">
                        <label>Ruta</label>
                        <div class="custom-select">
                            <select name="" id="">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field">
                        <label>Temperatura</label>
                        <div class="custom-select">
                            <select>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field">
                        <label>Horas de servicio</label>
                        <div class="custom-select">
                            <select name="" id="">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-field">
                        <label for="">Medidas de furgon</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="option1">
                            <label class="form-check-label" for="inlineRadio1">48 pies</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                value="option2">
                            <label class="form-check-label" for="inlineRadio2">53 pies</label>
                        </div>
                    </div>

                    <div class="input-field">
                        <label for="">Nombre</label>
                        <input type="text" class="input" placeholder="Nombre" />
                    </div>
                    <div class="input-field">
                        <label for="">Empresa</label>
                        <input type="text" class="input" placeholder="Empresa" />
                    </div>
                    <div class="input-field">
                        <label for="">Correo</label>
                        <input type="text" class="input" placeholder="Correo" />
                    </div>
                    <div class="input-field">
                        <label for="">Teléfono</label>
                        <input type="number" class="input" placeholder="Teléfono" />
                    </div>

                    <div class="input-field">
                        <button class="btn-cotizar">Cotizar</button>
                    </div>
                </form>
            </div>

            <div class="detalle-cotizado">
                <div class="precio">
                    <h3>Total: <span>Q100</span></h3>
                </div>
                <div class="leyenda">
                    <p>
                        Pacifico Express, se caracteriza por el seguimiento constante en los tiempos de entrega. A lo
                        largo de la operación se han establecido tiempos máximos de entrega en cada país (descritos en
                        la cotización), que buscan la pronta descarga en planta para que el proceso comercial pueda
                        seguir su curso y entregar productos frescos lo antes posible. Las demoras generalmente se
                        derivan de procesos aduanales, permisos con errores, documentos que necesitan ser corregidos,
                        todas estas circunstancias no son parte del que hacer del transporte como tal, sin embargo, se
                        coordina constantemente con el equipo aduanal con el que se esté trabajando para realizar
                        sugerencias de mejora, proveer información lo antes posible para iniciar documentación con
                        suficiente anticipación para evitar lo máximo posibles atrasos. Es por ello que al transcurrir
                        los tiempos descritos, se genera un cobro por concepto de estadías o demoras.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>