@import "../../../.././../assets/variables.scss";

.header-taller {
  padding: 5em 0;

  //   justify-content: center;
  //   align-items: center;

  .myContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-weight: 600;
      color: $primary-color;
      font-size: 44px;
      font-family: $font-primary;
      //   text-align: center;
      //   letter-spacing: 3px;
      //   text-transform: uppercase;
    }

    p {
      font-size: 1em;
      //   text-align: center;
      line-height: 26px;
    }

    .title-separator {
      width: 46px;
      height: 3px;
      background-color: #efe300;
    }
  }
}

.service-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  .service {
    .caption {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h3 {
        font-size: 27px;
        line-height: 33px;
        // font-family: 'Poppins',sans-serif;
        font-weight: 600;
        text-transform: inherit;
        margin-bottom: 4px;
      }
      .text {
        padding: 0 1em;
      }
    }

    .imagen {
      img {
        width: 100%;
        vertical-align: top;
      }
    }
  }

  .first-service {
    // background-color: #ffc515;
    background-color: #efe300;
    color: #292929;
  }

  div:nth-of-type(3) {
    background-color: #f3f3f3;
    color: #292929;
  }
  div:nth-of-type(5) {
    background-color: $primary-color;
    h3 {
      // color: #ffc515;
      color: #efe300;
    }
    .text {
      color: #fff;
    }
  }
}

.prices {
  .content {
    padding: 2em 0;
    .grid-items {
      display: grid;
      gap: 1em;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

      .card {
        padding: 0.5em 0.2em;
        .card-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;

          .title {
            font-size: 22px;
            line-height: 29px;
            font-weight: 600;
            color: #3a3a3a;
            transition: all 0.3s ease 0s;
            padding: 0 25px;
          }

          .price {
            font-size: 44px;
            font-weight: 600;
            transition: all 0.3s ease 0s;
            // margin-top: 19px;
          }

          .description {
            color: #3a3a3a;
            transition: all 0.3s ease 0s;
            margin-top: 12px;
            padding-left: 25px;
            padding-right: 25px;
            font-size: 16px;
            line-height: 25px;
          }

          img {
            width: 100%;
          }

          .btn {
            margin-top: 0.8em;
          }
        }
      }
    }
  }
}

.precios {
  margin-bottom: 1em;
  .table-01-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    .table-01 {
      min-width: 400px;
      width: 100%;
      border: none;
      thead {
        tr {
          background-color: #f5f5f5;
          th {
            font-weight: 700;
            text-align: left;
            padding-top: 24px;
            padding-bottom: 22px;
          }

          th:nth-child(1) {
            width: 49%;
            padding-left: 38px;
            padding-right: 25px;
          }
          th:nth-child(2) {
            width: 30%;
          }
          th:nth-child(3) {
            width: 21%;
            padding-left: 38px;
            padding-right: 38px;
          }

          th:last-child {
            background-color: #eaeaea;
          }
        }
      }
      tbody {
        tr:not(:last-child) {
          border-bottom: 1px solid #ebebeb;
        }

        tr {
          td {
            text-align: left;
            padding-top: 13px;
            padding-bottom: 11px;
            color: #5e5e5e;
          }

          td:nth-child(1) {
            width: 49%;
            padding-left: 38px;
            padding-right: 25px;
          }

          td:nth-child(2) {
            width: 30%;
          }

          td:nth-child(3) {
            width: 21%;
            padding-left: 38px;
            padding-right: 38px;
          }

          td:last-child {
            background-color: #f3f3f3;
            color: #3a3a3a;
          }
        }
      }
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}
.position-relative {
  position: relative;
}
.block {
  margin-bottom: 120px;
}
.schedule {
  .section__text-background {
    width: 100%;
    position: absolute;
    z-index: 0;
    font-family: $font-primary;
    font-weight: 700;
    line-height: 18px;
    white-space: nowrap;
    pointer-events: none;
    font-size: 180px;

    &.text-background__center {
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
    &.text-color02 {
      color: #232323;
      opacity: 0.05;
    }
  }

  .h-lg {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 44px;
    line-height: 44px;
    font-weight: 600;
    margin: 0 0 35px;
    color: #292929;
    .color {
      color: #efe300;
    }
  }

  h2 + p.info {
    margin-top: -30px;
  }

  .info {
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 26px;
  }

  p.info + h2.h-phone {
    font-weight: 500;
    
    font-size: 30px;
  }

  .btn-inline{
    .btn.btn-border.btn-invert {
      border-color: #3a3a3a!important;
  }
  }
}
