<app-header></app-header>

<section class="header-taller">
  <div class="myContainer">
    <h2>Que hacemos</h2>
    <p>
      Ofrecemos servicio completo de reparación y mantenimiento de automóviles.
    </p>
    <div class="title-separator"></div>
  </div>
</section>

<section class="myContainer service-block">
  <div class="service first-service">
    <div class="caption">
      <div class="vert-wrap">
        <div class="vert">
          <h3>Mantenimiento<br />preventivo</h3>
          <div class="text">
            La mejor forma de minimizar las averías es realizar un mantenimiento
            de rutina.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service">
    <div class="imagen">
      <img src="assets/images/taller/service-5-bg.jpg" alt="" />
    </div>
  </div>
  <div class="service">
    <div class="caption">
      <div class="vert-wrap">
        <div class="vert">
          <h3>Reparaciones en<br />ruta</h3>
          <div class="text">
            Nuestro equipo te respalda si tu vehículo pesado falla. Nosotros llegamos hasta donde estés.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service">
    <div class="imagen">
      <img src="assets/images/taller/service-4-bg.jpg" alt="" />
    </div>
  </div>
  <div class="service">
    <div class="caption">
      <div class="vert-wrap">
        <div class="vert">
          <h3>Mejoras y reparaciones<br />en taller</h3>
          <div class="text">
            Programa tu visita para tener a tu disposición al equipo de mecánica, soldadura, enderzado y pintura.   
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service">
    <div class="imagen">
      <img src="assets/images/taller/service-6-bg.jpg" alt="" />
    </div>
  </div>
</section>

<section class="header-taller">
  <div class="myContainer">
    <h2>Cómo funciona</h2>
    <p>Estos pocos pasos ayudarán a que su vehículo vuelva a funcionar</p>
    <div class="title-separator"></div>
  </div>
</section>

<section class="how-works myContainer">
  <div class="how-works-circle ">
    <div class="step step1">
      <div class="step-inside-number">01</div>
      <div class="step-inside">
        <img src="assets/images/taller/how-works-01.png" alt="">
      </div>
    </div>
    <div class="how-works-text">
      Elija su servicio
    </div>
  </div>

  <div class="how-works-circle ">
    <div class="step step1">
      <div class="step-inside-number">02</div>
      <div class="step-inside">
        <img src="assets/images/taller/how-works-02.png" alt="">
      </div>
    </div>
    <div class="how-works-text">
      Haga una cita
    </div>
  </div>

  <div class="how-works-circle ">
    <div class="step step1">
      <div class="step-inside-number">03</div>
      <div class="step-inside">
        <img src="assets/images/taller/how-works-03.png" alt="">
      </div>
    </div>
    <div class="how-works-text">
      LLeve su vehículo al taller
    </div>
  </div>

  <div class="how-works-circle ">
    <div class="step step1">
      <div class="step-inside-number">04</div>
      <div class="step-inside">
        <img src="assets/images/taller/how-works-04_.png" alt="">
      </div>
    </div>
    <div class="how-works-text">
      Recoja su vehículo
    </div>
  </div>
</section>


<app-footer></app-footer>