@import "../../../.././../assets/variables.scss";

.header-taller {
  // padding: 5em 0;
  padding-top: 3em;


  .myContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-weight: 600;
      color: $primary-color;
      font-size: 44px;
      font-family: $font-primary;
      //   text-align: center;
      //   letter-spacing: 3px;
      //   text-transform: uppercase;
    }

    p {
      font-size: 1em;
      //   text-align: center;
      line-height: 26px;
    }

    .title-separator {
      width: 46px;
      height: 3px;
      background-color: #efe300;
    }
  }
}

.service-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  .service {
    .caption {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h3 {
        font-size: 27px;
        line-height: 33px;
        // font-family: 'Poppins',sans-serif;
        font-weight: 600;
        text-transform: inherit;
        margin-bottom: 4px;
      }
      .text {
        padding: 0 1em;
      }
    }

    .imagen {
      img {
        width: 100%;
        vertical-align: top;
      }
    }
  }

  .first-service {
    // background-color: #ffc515;
    background-color: #efe300;
    color: #292929;
  }

  div:nth-of-type(3) {
    background-color: #f3f3f3;
    color: #292929;
  }
  div:nth-of-type(5) {
    background-color: $primary-color;
    h3 {
      // color: #ffc515;
      color: #efe300;
    }
    .text {
      color: #fff;
    }
  }
}

.how-works {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;

  grid-template-areas: "chose_servise make_appointment repair pick_up";

  .how-works-circle {
    margin-bottom: -7px;
    margin: 20px auto;
    max-width: 246px;
    text-align: center;
    .step {
      display: block;
      height: 0;
      padding-bottom: 100%;
      overflow: hidden;
      border-radius: 50%;
      background-color: #f5f5f5;

      .step-inside-number {
        font-size: 140px;
        line-height: 1;
        color: #fff;
        font-weight: 600;
        margin-top: -11px;
      }
      .step-inside {
        // position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .how-works-text {
      margin-top: 1.5em;
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
      font-family: "Poppins", sans-serif;
      text-transform: inherit;
      max-width: inherit;
    }
  }
}
