<app-header></app-header>
<app-banner></app-banner>

<!-- <section class="services">
  <div class="title">
    <h2>Nuestros servicios</h2>
  </div>

  <div class="services">
    <div class="services-transportes">
      <div class="text">
        <h3>Transporte de distribución de carga</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
          velit, fugit ipsam sed iusto odio sint aliquid aperiam officiis nobis!
        </p>
        <a [routerLink]="['/transportes']" class="btn">Ver más</a>
      </div>
      <div class="image">
        <img src="assets/images/services/transporte.jpg" alt="" />
      </div>
    </div>

    <!- - <div class="divider">
        <hr> 
        </div>- ->

    <!- - Overlay Text- ->
    <div class="section-b">
      <div class="overlay">
        <div class="section-b-inner">
          <h3>Repuestos</h3>
          <h2>Para diferentes tipos de marcas</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, quo
            eligendi assumenda hic tenetur beatae, alias ipsam deleniti cum nam
            doloribus quidem aut rem consequatur quasi laudantium nesciunt
            officia delectus!
          </p>
          <a [routerLink]="['/repuestos']" class="btn">Ver más</a>
        </div>
      </div>
    </div>
  </div>

  <div class="cabezales">
    <div class="text">
      <h3>Cabezales</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
        velit, fugit ipsam sed iusto odio sint aliquid aperiam officiis nobis!
      </p>
      <a [routerLink]="['/vehiculos']" class="btn">Ver más</a>
    </div>
    <div class="image">
      <img src="assets/images/services/cabezal.jpg" alt="" />
    </div>
  </div>

  <!- - Overlay Text- ->
  <div class="section-c">
    <div class="overlay">
      <div class="section-b-inner">

        <h2>Fletes</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, quo
          eligendi assumenda hic tenetur beatae, alias ipsam deleniti cum nam
          doloribus quidem aut rem consequatur quasi laudantium nesciunt officia
          delectus!
        </p>
        <a [routerLink]="['/vehiculos']" class="btn">Ver más</a>
      </div>
    </div>
  </div>

  <div class="title">
    <h2>Nuestro equipo</h2>
  </div>

  <div class="section-gallery">
    <div class="gallery">
      <a href="#" class="big"><img src="assets/images/galery/team-3.jpg" alt="" /></a>
      <a href="#" class="big"><img src="assets/images/galery/team-6.jpg" alt="" /></a>
      <a href="#" class="big"><img src="assets/images/galery/team-5.jpg" alt="" /></a>
      <a href="#" class="big"><img src="assets/images/galery/team-2.jpg" alt="" /></a>
      <a href="#" class="big"><img src="assets/images/galery/team-4.jpg" alt="" /></a>
      <a href="#" class="big"><img src="assets/images/galery/team-1.jpg" alt="" /></a>
    </div>
  </div>
</section> -->

<div class="home-content">
  <section class="taller">
    <div class="header-title">
      <div class="myContainer">
        <h2>Servicios de reparación</h2>
        <p>
          Nuestro objetivo es ganarnos su confianza y tener una relación a largo
          plazo con usted
        </p>
        <div class="title-separator"></div>
      </div>
    </div>
    <div class="taller-content">
      <section class="myContainer">
        <div class="make_quote">
          <div class="make-quote-text">
            <h3>Servicios de <span>reparación</span> que ofrecemos</h3>
            <p>
              Ofrecemos una gama completa de reparaciones mecánicas frontales
              para todas las marcas y modelos de automóviles, sin importar la
              causa. Esto incluye todo, desde puntales, amortiguadores y
              extremos de barra de dirección hasta rótulas, resortes y
              básicamente todo lo que se incluye en la reparación de la parte
              delantera del vehículo.
            </p>
            <a [routerLink]="['/cotizador', { isTaller: true }]" class="btn">Realizar una cotización</a>
          </div>
          <div class="make-quote-image">
            <div class="content-image">
              <div class="overlay"></div>
              <div class="list-taller">
                <div class="list">
                  <ul>
                    <li><i class="fas fa-check"></i> {{'cambio de caja ' | capitalizado: false}}</li>
                    <li><i class="fas fa-check"></i> {{'cambio de resortaje delantero' | capitalizado: false}}</li>
                    <li><i class="fas fa-check"></i> {{'diagnostico de camion' | capitalizado: false}}</li>
                    <li><i class="fas fa-check"></i> {{'cambio de catarinas' | capitalizado: false}}</li>
                    <li><i class="fas fa-check"></i> {{'cambio de bloqueo' | capitalizado: false}}</li>
                    <li><i class="fas fa-check" class="color: trasparent;"></i></li>
                  </ul>
                </div>
                <div class="list">
                  <ul>
                    <li><i class="fas fa-check"></i> {{ 'cambio de flechas' | capitalizado: false }}</li>
                    <li><i class="fas fa-check"></i> {{ 'cambio de cruz' | capitalizado: false }}</li>
                    <li><i class="fas fa-check"></i> {{ 'cambio de bufas traseras' | capitalizado: false }}</li>
                    <li><i class="fas fa-check"></i> {{ 'cambio de tornamesa' | capitalizado: false }}</li>
                    <li><i class="fas fa-check"></i> {{ 'cambio de resortaje trasero' | capitalizado: false }}</li>
                    <li> <a [routerLink]="['/cotizador', { isTaller: true }]">Ver más</a></li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="appointment myContainer">
        <div class="programar-cita" ngsRevealSet [ngsRevealSet]="{ reset:true, origin: 'top' }" [ngsSelector]="'.programar-cita'">
          <app-programe-cita textButton="Programar cita" phone="56959818"
            text="Especialistas en servicio de reparación y mantenimiento"></app-programe-cita>
        </div>
        <div class="image" ngsReveal [ngsRevealSet]="{ reset:true, origin: 'top' }" [ngsSelector]="'.image'">
          <img src="assets/images/home/camion-1.png" alt="">
        </div>
      </section>


      <div class="bottom" ngsReveal [ngsRevealSet]="{ reset:true, origin: 'top' }" [ngsInterval]="50" [ngsSelector]="'.bottom'">
        <h2>PROPORCIONAMOS SERVICIO DE CARGA Y LOGÍSTICA EN MEXICO Y CENTRO AMERICA</h2>
        <a href="#" class="btn btn-transports selected">Contactanos</a>
      </div>


      <div class="myContainer">
      <section class="asesoria">
          <div class="content">
            <h3>¿Cuánto cuesta un vehículo usado pesado en Guatemala?</h3>
            <p>Si estás pensando en invertir, acércate a nuestros expertos en el tema que te pueden asesorar para
              sacarle provecho a tu presupuesto</p>
          </div>
          <div class="video">
            <!-- <iframe src="https://player.vimeo.com/video/481099138?autoplay=1&loop=1?title=1&amp;byline=0&amp;portrait=0&amp;color=ffffff" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" frameborder="0"></iframe> -->
          </div>
        </section>
      </div>

      <div class="header-title">
        <div class="myContainer">
          <h2>Nuestro equipo</h2>
          <p>
            El secreto de nuestro trabajo, es la colaboración ¡El equipo de Pacifico Express listo para trabajar
            contigo!
          </p>
          <div class="title-separator"></div>
        </div>
      </div>

      <div class="section-gallery">
        <div class="gallery">
          <a href="#" class="big"><img src="assets/images/galery/team-3.jpg" alt="" /></a>
          <a href="#" class="big"><img src="assets/images/galery/team-6.jpg" alt="" /></a>
          <a href="#" class="big"><img src="assets/images/galery/team-5.jpg" alt="" /></a>
          <a href="#" class="big"><img src="assets/images/galery/team-2.jpg" alt="" /></a>
          <a href="#" class="big"><img src="assets/images/galery/team-4.jpg" alt="" /></a>
          <a href="#" class="big"><img src="assets/images/galery/team-1.jpg" alt="" /></a>
        </div>
      </div>


    </div>
  </section>

</div>

<app-footer></app-footer>