<app-header></app-header>
<app-banner></app-banner>

<section class="services">
  <div class="title">
    <h2>Nuestros servicios</h2>
  </div>

  <div class="services">
    <div class="services-transportes">
      <div class="text">
        <h3>Transporte de distribución de carga</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
          velit, fugit ipsam sed iusto odio sint aliquid aperiam officiis nobis!
        </p>
        <a [routerLink]="['/transportes']" class="btn">Ver más</a>
      </div>
      <div class="image">
        <img src="assets/images/services/transporte.jpg" alt="" />
      </div>
    </div>

    <!-- <div class="divider">
        <hr> 
        </div>-->

    <!-- Overlay Text-->
    <div class="section-b">
      <div class="overlay">
        <div class="section-b-inner">
          <h3>Repuestos</h3>
          <h2>Para diferentes tipos de marcas</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, quo
            eligendi assumenda hic tenetur beatae, alias ipsam deleniti cum nam
            doloribus quidem aut rem consequatur quasi laudantium nesciunt
            officia delectus!
          </p>
          <a [routerLink]="['/repuestos']" class="btn">Ver más</a>
        </div>
      </div>
    </div>
  </div>

  <div class="cabezales">
    <div class="text">
      <h3>Cabezales</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
        velit, fugit ipsam sed iusto odio sint aliquid aperiam officiis nobis!
      </p>
      <a [routerLink]="['/vehiculos']" class="btn">Ver más</a>
    </div>
    <div class="image">
      <img src="assets/images/services/cabezal.jpg" alt="" />
    </div>
  </div>

  <!-- Overlay Text-->
  <div class="section-c">
    <div class="overlay">
      <div class="section-b-inner">
        <!-- <h3>Repuestos</h3> -->
        <h2>Fletes</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, quo
          eligendi assumenda hic tenetur beatae, alias ipsam deleniti cum nam
          doloribus quidem aut rem consequatur quasi laudantium nesciunt officia
          delectus!
        </p>
        <a [routerLink]="['/vehiculos']" class="btn">Ver más</a>
      </div>
    </div>
  </div>

  <div class="title">
    <h2>Nuestro equipo</h2>
  </div>

  <div class="section-gallery">
    <div class="gallery">
      <a href="#" class="big"><img src="assets/images/galery/team-3.jpg" alt="" /></a>
      <a href="#" class="big"><img src="assets/images/galery/team-6.jpg" alt="" /></a>
      <a href="#" class="big"><img src="assets/images/galery/team-5.jpg" alt="" /></a>
      <a href="#" class="big"><img src="assets/images/galery/team-2.jpg" alt="" /></a>
      <a href="#" class="big"><img src="assets/images/galery/team-4.jpg" alt="" /></a>
      <a href="#" class="big"><img src="assets/images/galery/team-1.jpg" alt="" /></a>
    </div>
  </div>
</section>


<app-footer></app-footer>