
.icon-transportes:before { content: '\e800'; } /* '' */
.icon-cotizador:before { content: '\e801'; } /* '' */
.icon-fletes:before { content: '\e802'; } /* '' */
.icon-repuestos:before { content: '\e803'; } /* '' */
.icon-taller:before { content: '\e804'; } /* '' */
.icon-transportes-gps:before { content: '\e805'; } /* '' */