<div class="contenendor">

    <!-- Slider main container -->
    <div class="swiper-container owl-carousel">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide" [ngStyle]="{'background-image': 'url(' + images[0] + ')'}">
                <div class="overlay">
                    <div class="contenido">
    
                    </div>
                </div>
            </div>
            <!-- <div class="swiper-slide" [ngStyle]="{'background-image': 'url(' + images[1] + ')'}">
                <div class="overlay">
                    <div class="contenido">
    
                    </div>
                </div>
            </div>
            <div class="swiper-slide">Slide 3</div> -->
        </div>
    </div>
</div>