@import "../../../../assets/variables.scss";

h2 {
  text-transform: uppercase;
  color: $secondary-color;
  font-size: 72px;
}

p {
  color: $secondary-color;
}

.contenendor {
  padding: 1rem 0;
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        height: 80vh;
        z-index: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.5);

          .contenido {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            .slide-1 {
              overflow: hidden;
              padding: 1rem 4rem;
              margin-left: 4rem;
              text-align: center;
              // border: 3px solid $primary-color;
              // background-color: rgba(232, 232, 232, 0.7);
              position: relative;

              h4 {
                font-size: 42px;
                font-weight: 600;
                color: #fff;
                font-family: 'Poppins',sans-serif;
              }

              h3 {
                font-size: 80px;
                margin-bottom: 0.5em;
                color: #efe300;
                // color: #FFC512;
                // font-family: 'Poppins',sans-serif;
                font-family: $font-primary;
                font-weight: 600;
              }
              p{
                font-size: 20px;
                margin-bottom: 3.5em;
                color: #fff;
                line-height: 1.2;
              }
              /*   &::before {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 50%;
                border-bottom: 2px solid red;
                border-left: 1px solid red;
              } */

              /*       &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 50%;
                border-right: 1px solid green;
              }
             
              h2 {
                text-transform: uppercase;
                color: $secondary-color;
                font-size: 72px;
              }

              p {
                color: $secondary-color;
              } */
            }
          }

          .contenido-2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            .slide-1 {
              overflow: hidden;
              padding: 1rem 4rem;
              //   margin-right: 4rem;
              border: 3px solid $secondary-color;
              position: relative;
              background-color: rgba(232, 232, 232, 0.7);

              h2 {
                color: $secondary-color;
              }

              p {
                color: $secondary-color;
              }
            }
          }
        }
      }
    }
  }
}


.btn-banner{
  height: auto;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 27px;
  outline: 0;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 2px solid #efe300;
  color: #fff;
  text-decoration: none!important;
  &:hover{
    background-color: #efe300;
    color: $primary-color;
  }
}

