.contenendor {
  padding: 1rem 0;
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        height: 80vh;
        z-index: 0;
        background: red;
        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
