<app-header></app-header>
<section class="transportes">
  <div class="slides">
    <!-- Slider main container -->
    <div class="swiper-container owl-carousel">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" [ngStyle]="{'background-image': 'url(' + images[0] + ')'}">
          <div class="overlay"></div>
          <div class="contenido-banner">
            <div class="slide-title">
              <h2>Brindamos la mejor solución de transporte</h2>
            </div>
            <div class="slide-text">
              <p>Transporte y Logística de Calidad en Pacifico express. Ofrecemos servicios personalizados.</p>
            </div>
            <a href="#" class="btn">Cotizar</a>
          </div>
        </div>
        <div class="swiper-slide" [ngStyle]="{'background-image': 'url(' + images[1] + ')'}">
          <div class="overlay"></div>
          <div class="contenido-banner">
            <div class="slide-title">
              <h2>Brindamos la mejor solución de transporte</h2>
            </div>
            <div class="slide-text">
              <p>Transporte y Logística de Calidad en Pacifico express. Ofrecemos servicios personalizados.</p>
            </div>
            <a href="#" class="btn">Cotizar</a>
          </div>
        </div>
      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

  <!-- <========================================================> -->
  <!-- Quienes somos -->
  <!-- <========================================================> -->
  <div class="quienes-somos">
    <div class="myContainer">
      <div class="contenido">
        <div class="contenido__text">
          <div class="contenido__text-title">
            <h3>Quienes somos</h3>
          </div>
          <div class="contenido__text-body">
            <p>Pacifico Express es una empresa de transporte y logística que brinda servicios de valor agregado en las
              áreas de transporte por carretera, logística y servicios de aduanas y expedición.</p>
          </div>
          <div class="contenido__text-subbody">
            <p>Como proveedor de transporte y logística totalmente integrado, Pacifico Express puede hacer que su red
              logística sea más eficiente, sea cual sea su sector empresarial. Nuestro objetivo es
              desarrollar proyectos logísticos personalizados, de alta calidad y a gran escala para nuestros clientes
              con el fin de proporcionar una ventaja competitiva definitiva.</p>
          </div>

          <div class="contenido__text-experiencia">
            <div class="square">
              <span>20</span>
              <p>Años de expreiencia</p>
            </div>
            <div class="square">
              <span>+1500</span>
              <p>Viajes completados</p>
            </div>
            <div class="square">
              <span>8</span>
              <p>Países cubiertos</p>
            </div>
            <div class="square">
              <span>2</span>
              <p>Oficinas en Guatemala</p>
            </div>
          </div>

        </div>
        <div class="contenido-mapa">
          <div class="image">
            <img src="assets/images/transporte/mapa.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <========================================================> -->
  <!-- Fin Quienes somos -->
  <!-- <========================================================> -->


  <!-- <========================================================> -->
  <!-- Porque elegirnos -->
  <!-- <========================================================> -->
  <div class="transportes__body-sections-2">
    <div class="section-2-content myContainer">
      <div class="section-1">
        <div class="title">
          <h2>OFRECEMOS UNA SOLUCIÓN LOGÍSTICA <span>RÁPIDA Y POTENTE</span> </h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nobis possimus enim eos, quod quisquam,
            dignissimos velit quo totam temporibus cum odit, officia voluptas fugiat vel doloribus id? </p>
        </div>
      </div>
      <div class="section-2">
        <div class="catalog">
          <h3>¿POR QUÉ ELEGIRNOS?</h3>
          <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p> -->
          <ul>
            <li><i class="fa fa-check"></i> Personal altamente profesional con experiencia </li>
            <li><i class="fa fa-check"></i> Eficiencia y efectividad en la programación de fletes semanales, quincenales
              y mensuales</li>
            <li><i class="fa fa-check"></i> Un sistema de control con bases de datos actualizadas </li>
            <li><i class="fa fa-check"></i>Sistema GPS con disponibilidad para gestionar unidades.</li>
            <li><i class="fa fa-check"></i>Seguimiento al flete desde herramientas digitales</li>
            <li><i class="fa fa-check"></i>Los furgones son lavados y desinfectados</li>
            <li><i class="fa fa-check"></i>Se asumen los costos derivados de modificaciones en datos de cabezal, furgón
              o chofer.</li>
            <li><i class="fa fa-check"></i> Póliza de seguro de vehículos </li>
            <li><i class="fa fa-check"></i>Anuencia de viajar en convoy con patrulla de custodio.</li>
            <li><i class="fa fa-check"></i>Flotilla de 15 de tándem y furgones refrigerados</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- <========================================================> -->
  <!-- Fin Porque elegirnos -->
  <!-- <========================================================> -->

  <!-- <========================================================> -->
  <!-- Nuestros Aliados -->
  <!-- <========================================================> -->
  <app-banner-aliados></app-banner-aliados>
  <!-- <========================================================> -->
  <!-- Fin Nuestros Aliados -->
  <!-- <========================================================> -->


</section>
<div class="bottom">
  <h2>PROPORCIONAMOS SERVICIO DE CARGA Y LOGÍSTICA EN MEXICO Y CENTRO AMERICA</h2>
  <a href="#" class="btn btn-transports selected">Contactanos</a>
</div>
<app-footer></app-footer>