<section class="header-product">
    <h2>{{ param1 }}</h2>
</section>

<section class="container">
    <div class="content">
        <div class="grid-items">
            <!-- <ng-container *ngFor="let items of sidebarService.menuCategorias"> -->
                <div class="card">
                    <img src="assets/images/repuestos/repuesto-1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <!-- <p class="card-text">Some quick example text.</p> -->
                    </div>
                </div>
            <!-- </ng-container> -->
        </div>
    </div>
</section>