@import '../../../.././../assets/variables.scss';

.header-product {
  padding: 5em 0;
  display: flex;
  justify-content: center;
  // background-image: url('../../../../../assets/images/bg-1.jpg');
  background-color: #4b4a4a;
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  h2 {
    font-weight: 800;
    color: $color-white;
    font-size: 30px;
    font-family: $font-primary;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.content{
  padding: 2em 0;
  .grid-items{
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}